// max grid-width
$maxWidth: 784px;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.is-hidden {
  // display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

@mixin mobile($size) {
  $breakpointMedium: $maxWidth + (2 * 32px);
  $breakpointSmall: 656px;

  @if $size == medium {
    @media (max-width: $breakpointMedium) {
      @content;
    }
  }
  @else if $size == small {
    @media (max-width: $breakpointSmall) {
      @content;
    }
  }
}
