// TABS
nav {
  display: flex;
  justify-content:space-between;
  width: 260px;

  button {
    @extend %typography-base;
    padding: 0 8px;
    margin: 0 4px;
    line-height: 36px;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    letter-spacing: 0.2px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 0;
      height: 4px;
      background-color: $secondary;
      margin: auto;
      -webkit-transition: width 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: width 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &.is-selected {
      color: $secondaryText;
      font-weight: $semibold;
      letter-spacing: 0px;

      &:after {
        width: 100%;
      }
    }
  }
}

//BUTTONS
a.button {
  @extend %typography-base;
  display: inline-block;
  color: $white;
  font-weight: $semibold;
  line-height: 36px;
  padding: 0 16px;
  background-color: $primary;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: darken($primary, 4);
  }

// OUTLINE BUTTONS
  &.button-outline {
    color: $primaryText;
    box-shadow: inset 0 0 0 2px $primary;
    background-color: inherit;

    &:hover {
      background-color: rgba($primary, 0.12);
      color: darken($primaryText, 4);
    }
  }
//ICON BUTTONS
  &.button-icon {
    border-radius: 100%;
    padding: 0;
    height: 36px;
    width: 36px;

    i {
      padding: 6px;

    }
  }

// BREADCRUMB BUTTONS
  &.button-breadcrumb {
    color: $secondaryText;
    font-size: 14px;
    line-height: 20px;
    background-color: rgba($secondary, 0.12);
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    margin-right: 8px;

    &:hover {
      background-color: rgba($secondary, 0.24);
    }
    &.button-back {
      position: absolute;
      top: -2px;
      left: -24px - 4px;
      padding: 0 4px;
      margin: 0;
      height: 24px;
      background-color: inherit;
      border-radius: 100%;
      &:hover {
        background-color: rgba($secondary, 0.12);
      }
      i {
        padding: 2px 0;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  &.is-disabled {
    cursor: default;
    color: $border;
    background-color: $border;

    &.button-outline {
      box-shadow: inset 0 0 0 2px $border;
      background-color: inherit;
    }

    &:hover {
      color: $border;
    }
  }
}


// BREADCRUMB GROUP
.breadcrumbs {
  display: flex;
  position: relative;
  .button-breadcrumb:nth-child(1),
  .button-breadcrumb:nth-child(2) {
    flex-shrink: 0;
  }

  @include mobile(medium) {
      margin-left: 24px;
  }
}

// PAGINATION GROUP
.pagination {
  display: flex;
  justify-content: space-between;
  user-select: none;

  .button-icon:first-child {
    margin-right: 4px;
  }

  .project-wrapper {
    // flex: 1;
  }
  .piece-wrapper {
    // width: 100%;
    // margin:0 auto;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
  }
}

.link {
  color: $secondary;
  font-weight: bold;
}

section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
