// TABS
nav {
  display: flex;
  justify-content:space-between;
  width: 260px;

  button {
    @extend %typography-base;
    padding: 0 8px;
    margin: 0 4px;
    line-height: 36px;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    letter-spacing: 0.2px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 0;
      height: 4px;
      background-color: $secondary;
      margin: auto;
      transition: width 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &.is-selected {
      color: $secondaryText;
      font-weight: $semibold;
      letter-spacing: 0px;

      &:after {
        width: 100%;
      }
    }
  }
}

//BUTTONS
a.button {
  @extend %typography-base;
  display: inline-block;
  color: $white;
  font-weight: $semibold;
  line-height: 36px;
  padding: 0 16px;
  background-color: $primary;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;


  &:hover {
    background-color: darken($primary, 4);
  }

// OUTLINE BUTTONS
  &.button-outline {
    color: $primaryText;
    box-shadow: inset 0 0 0 2px $primary;
    background-color: inherit;

    &:hover {
      background-color: rgba($primary, 0.12);
      color: darken($primaryText, 4);
    }
  }
// BREADCRUMB BUTTONS
  &.button-breadcrumb {
    color: $secondaryText;
    font-size: 14px;
    line-height: 20px;
    background-color: rgba($secondary, 0.12);
    padding: 0 8px;
    margin: 4px;
    // flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;

    &:hover {
      background-color: rgba($secondary, 0.24);
      // color: darken($primaryText, 4);
    }
  }
}

// BREADCRUMB GROUP
.breadcrumbs {
  display: flex;
  // width: 100%;
  .button-breadcrumb:first-child {
    position: relative;
    overflow: visible;
    flex-shrink: 0;

    &:before {
      @extend %material-icon;
      font-size: 16px;
      line-height: 20px;
      position: absolute;
      content: 'arrow_back';
      padding: 8px;
      left: -32px;
      top: -8px;

    }
    @include mobile(medium) {
      margin-left: 24px;
    }
  }
}
