header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // height: 56px;
  padding: 16px 32px 0 32px;
  align-items: center;

  @include mobile(small) {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.content {
  position: absolute;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 32px 32px 32px;

  @include mobile(small) {
    padding: 0 16px 16px 16px;
    top: 92px + 16px;
  }
}

section {
  position: relative;
  transition: opacity 0.4s ease-in;
  max-height: 100%;
}

// common margin classes
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-32 {
  margin-top: 32px !important;
}
.margin-top-24 {
  margin-top: 24px !important;
}
.margin-top-16 {
  margin-top: 16px !important;
}
.margin-top-8 {
  margin-top: 8px !important;
}
.margin-top-4 {
  margin-top: 4px !important;
}
