header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // height: 56px;
  padding: 16px 32px 0 32px;
  align-items: center;

  @include mobile(small) {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.content {
  max-width: $maxWidth;
  margin: auto;
  padding: 0 32px 40px 32px;

  @include mobile(small) {
    padding: 0 16px 40px 16px;
  }
}

section {
  transition: opacity 0.4s ease-in;
}

// common margin classes
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-32 {
  margin-top: 32px;
}
.margin-top-24 {
  margin-top: 24px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-top-8 {
  margin-top: 8px;
}

// ABOUT ME ------------
.skill-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.skill {
  width: 360px;
  display: flex;
  align-items: center;
  margin: 8px;

  > div {
    margin-top: 8px;
  }

  img {
    height: 64px;
    width: 64px;
    padding-right: 16px;
  }
}

.actions {
  @include mobile(small) {
    text-align: center;
  }
  .button {
    margin: 4px;

  }

  &.social-media img {
    height: 36px;
    margin-top: 8px;
    padding: 4px;
    opacity: 0.24;

    &:hover {
      opacity: 0.87;
      transition: opacity 0.2 ease;
    }
  }
}

// Portfolio ------------
$coverImageWidth: 464px;

.project {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: $border 1px solid;
  padding: 32px 0;

  &:last-child {
    border-bottom: none;
  }

  .project-text {
    padding-bottom: 16px;
    max-width: $maxWidth - $coverImageWidth - 16px;
  }

  .project-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  img {
    // height: 144px;
    max-width: $coverImageWidth;
    width: 100%;
    cursor: pointer;
  }

  @include mobile(medium) {
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

    .project-text {
      // flex-grow: 1;
      max-width: none;
      // text-align: center;
    }
    .project-preview {
      align-items: center;
    }
  }
}
