.download {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @include mobile(small) {
    justify-content: space-around;
  }
}

.resume-header {
  display: flex;
  margin-top: 56px;

  img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    margin-right: 16px;
  }
  @include mobile(medium){
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      margin-top: 16px;
    }
    img {
      margin-right: 0;
    }
  }
}

.resume-body {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 32px auto;
  // flex-wrap: wrap;

  @include mobile(medium){
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
  }
}

.resume-timeline {
  margin-left: 64px - 24px + 16px;
  margin-right: 24px;

  @include mobile(small){
    margin-left: 24px;
  }

  h4, h3, p {
    line-height: 20px;
  }
  h4 {
    text-transform: uppercase;
  }

  h3 {
    font-size: 16px;
    letter-spacing: 2px;
  }

  p:last-child {
    font-style: italic;
  }
}

.resume-job {
  padding-left: 24px;
  position: relative;
  padding-bottom: 24px;
  border-left: 1px solid $border;

  &:after {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: $primary;
    top: 5px;
    left: -6px;
    border-radius: 50%;
  }

  &:first-child {
    &:before {
      content: '';
      height: 24px;
      width: 24px;
      position: absolute;
      background-color: $primaryFlat24;
      top: -2px;
      left: -13px;
      border-radius: 50%;
    }
  }
}

.resume-details {
  background: $grey;
  white-space: nowrap;
  padding: 32px;
  padding-top: 64px;

  @include mobile(medium){
    // padding: 24px;
  }

  @include mobile(small){
    margin-top: 24px;
    padding-top: 32px;
  }

  .contact p {
    line-height: 24px;
    display: flex;
    // margin-bottom: 8px;

    i {
      padding-right: 8px;
      color: $secondary;
      margin-bottom: 8px;
    }
  }

  .edu p {
    &:first-child {
      font-weight: $semibold;
      margin-bottom: 4px;
    }
    &:last-child {
      margin-bottom: 16px;
    }
  }

$dividerWidth: 100px;
$iconSize: 24px;
  .divider {
    // text-align: center;
    margin: 24px auto;
    width: $dividerWidth;
    background-color: $border;
    height: 1px;
    position: relative;
    i {
      font-size: $iconSize;
      top: -$iconSize/2;
      left: $dividerWidth/2 - $iconSize/2;
      position: absolute;
      background-color: $grey;
      color: $secondary;
    }
  }

  .skill {
    display: flex;
    align-items: center;

    p {
      flex-grow: 1;
    }
  }

  .bar {
    background-color: $border;
    height: 4px;
    width: 120px;
    position: relative;

    &:after {
      content: '';
      background-color: $secondary;
      width: 15%;
      height: 100%;
      position: absolute;
    }
    &.bar-h {
      &:after {
        width: 85%;
      }
    }
    &.bar-m {
      &:after {
        width: 70%;
      }
    }
    &.bar-l {
      &:after {
        width: 50%;
      }
    }
  }
}
