// COLOR VARIABLES
$primary: #EB705E;
$primaryText: darken($primary, 4);
$secondary: #636FA4;
$secondaryText: darken($secondary, 4);
$accent: #42B7B7;

$blackPrimary: rgba(0, 0, 0, 0.87);
$blackSecondary: rgba(0, 0, 0, 0.54);
$border: rgba(0, 0, 0, 0.12);
$grey: rgba(0, 0, 0, 0.04);

$white: rgba(255, 255, 255, 1);

// TYPOGRAPHY

// FONTS
$font-sans: 'Source Sans Pro', sans-serif;
$font-script: 'Pacifico', sans-serif;

// WEIGHTS
$regular: 400;
$semibold: 600;
$bold: 700;

// BASE
%typography-base {
  font-family: $font-sans;
  color: $blackSecondary;
  font-size: 16px;
  font-weight: $regular;
}

%material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

// HEADINGS
h1, h2, h3, h4, h5, p, .logo {
  font-family: $font-sans;
}

h1 {
  color: rgba(0, 0, 0, 0.2);
  font-size: 36px;
  line-height: 80px;
  font-weight: $bold;
  margin-top: 40px;

  &::first-letter {
    color: $secondary;
    font-size: 126px;
    // line-height: 160px;
    text-decoration: underline;
    padding-right: 4px;
  }

  @include mobile(small) {
    display: none;
  }
}

h2 {
  color: $blackPrimary;
  font-weight: $bold;
  font-size: 36px;
  line-height: 40px;

  @include mobile(small){
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  color: $blackPrimary;
  font-size: 20px;
  font-weight: $regular;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;

}

h4 {
  color: $primaryText;
  font-size: 16px;
  line-height: 24px;
  font-weight: $semibold;
}


h5 {
  color: $secondaryText;
  font-size: 16px;
  line-height: 24px;
  font-weight: $semibold;
}

p {
  @extend %typography-base;
}


.logo {
  color: $blackSecondary;
  font-size: 20px;
  line-height: 56px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;

  span {
    font-family: $font-script;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.2px;
    color: $primary;
    text-transform: lowercase;
    padding-left: 8px;
  }
}
