$primary: #EB705E;
$secondary: #636FA4;
$accent: #42B7B7;

$blackPrimary: rgba(0, 0, 0, 0.87);
$blackSecondary: rgba(0, 0, 0, 0.54);
$border: rgba(0, 0, 0, 0.12);
$grey: rgba(0, 0, 0, 0.04);

$white: rgba(255, 255, 255, 1);
